<launch>
  <node pkg="go2_cloud_adapter"
        type="go2_cloud_adapter_node"
        name="cloud_to_base"
        output="screen">
    <param name="input_topic" value="/lio/cloud_registered_body"/>
    <param name="output_topic" value="/cloud_registered_base"/>
    <param name="target_frame" value="base_link"/>
  </node>
</launch>
