<launch>
  <arg name="map_name" default="current_mapping" />
  <arg name="map_root" default="$(env HOME)/go2_mid360_nav/maps" />
  <arg name="map_dir" default="$(arg map_root)/$(arg map_name)" />
  <arg name="input_cloud" default="/cloud_registered_base" />
  <arg name="input_odom" default="/odom_nav" />
  <arg name="output_path"
       default="$(arg map_dir)/public_map.pcd" />

  <node pkg="go2_pointcloud_mapper"
        type="pointcloud_mapper_node"
        name="go2_pointcloud_mapper"
        output="screen"
        required="true">
    <rosparam command="load"
              file="$(find go2_pointcloud_mapper)/config/mapper.yaml" />
    <param name="input_cloud" value="$(arg input_cloud)" />
    <param name="input_odom" value="$(arg input_odom)" />
    <param name="output_path" value="$(arg output_path)" />
  </node>
</launch>
