<launch>
  <!-- 序列号为空时使用系统检测到的第一台 RealSense；单相机可先为空 -->
  <arg name="serial_no" default=""/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no" value="$(arg serial_no)"/>

    <arg name="enable_depth" value="true"/>
    <arg name="enable_color" value="true"/>

    <arg name="depth_width" value="640"/>
    <arg name="depth_height" value="480"/>
    <arg name="depth_fps" value="30"/>

    <arg name="color_width" value="640"/>
    <arg name="color_height" value="480"/>
    <arg name="color_fps" value="30"/>

    <arg name="enable_sync" value="true"/>
    <arg name="align_depth" value="true"/>

    <!-- 第一版不融合 D435i IMU -->
    <arg name="enable_gyro" value="false"/>
    <arg name="enable_accel" value="false"/>

    <!-- 第一版不让 D435i 点云进入导航主链 -->
    <arg name="enable_pointcloud" value="false"/>

    <arg name="publish_tf" value="true"/>
    <arg name="initial_reset" value="true"/>
  </include>
</launch>
